<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments="c:\Users\lukeb\source\repos\LoomPipe\LoomPipe.Server\bin\Debug\net10.0\LoomPipe.Server.dll"
                  stdoutLogEnabled="true"
                  stdoutLogFile="c:\Users\lukeb\source\repos\LoomPipe\LoomPipe.Server\logs\stdout"
                  hostingModel="outofprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
